doctype html
html
  head
    title Golmaal Dance Academy
    block scripts
    block style 
     
  body
    nav#navbar.top
          ul
            div#logo
              img(src="/static/img/logo.png")
              | GDA
            li #[a(href="/") Home]                                          
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Information]
            li #[a(href="/contact") Contact Us]
  block content             
  footer#footer 
        | Copyright © 2023 Golmaaldanceacademy.com | All right  reserved 